@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  outline: none;
}



@layer base {
  body {
    font: 'Poppins', sans-serif;
  }
}

/* Add these styles */
.overflow-y-auto {
  overflow-y: auto;
}

.space-y-4 > * + * {
  margin-top: 1rem;
}


/* Styles for notebook for typography */
h1 {
  @apply text-5xl font-bold;
}

h2 {
  @apply text-3xl font-bold;
}

h3 {
  @apply text-xl font-bold;
}

p {
  @apply text-base;
}

ol {
  @apply list-decimal list-inside;
}

ul {
  @apply list-disc list-inside;
}

li {
  @apply text-base;
}

.career-background {
  background-image:  repeating-radial-gradient(circle at 0 0, transparent 0, #47d3ff 61px), repeating-linear-gradient(#474bff, #ff003d);
  background-color: #47d3ff;
}
